<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission
        android:name="android.permission.MANAGE_DEVICE_ADMINS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission
        android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.saggitt.omega.OmegaApp"
        android:backupAgent="com.android.launcher3.LauncherBackupAgent"
        android:fullBackupContent="@xml/backupscheme"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="${appIcon}"
        android:label="@string/derived_app_name"
        android:largeHeap="@bool/config_largeHeap"
        android:restoreAnyVersion="true"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name="com.android.launcher3.Launcher"
            tools:node="remove" />
        <!--
        Main launcher activity. When extending only change the name, and keep all the
        attributes and intent filters the same
        -->
        <activity
            android:name="com.saggitt.omega.OmegaLauncher"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize"
            android:enabled="true"
            android:exported="true"
            android:label="@string/derived_app_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:resumeWhilePausing="true"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>

            <meta-data
                android:name="com.android.launcher3.grid.control"
                android:value="${packageName}.grid_control" />
        </activity>
        <activity
            android:name="com.android.launcher3.settings.SettingsActivity"
            tools:node="remove" />
        <activity
            android:name="com.saggitt.omega.settings.SettingsActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true"
            android:label="@string/settings_button_text"
            android:theme="@style/SettingsTheme.Light">
            <intent-filter android:priority="-1">
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saggitt.omega.preferences.views.PreferencesActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true"
            android:label="@string/settings_button_text"
            android:theme="@style/SettingsTheme.Dark">
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saggitt.omega.settings.search.SettingsSearchActivity"
            android:autoRemoveFromRecents="true"
            android:parentActivityName="com.saggitt.omega.settings.SettingsActivity"
            android:theme="@style/SettingsTheme" />

        <activity
            android:name="com.saggitt.omega.gestures.ui.SelectAppActivity"
            android:label="@string/action_open_app_select_app"
            android:theme="@style/SettingsTheme.Light" />

        <activity
            android:name="com.saggitt.omega.BlankActivity"
            android:theme="@style/Theme.Transparent" />

        <!-- Actions -->
        <activity
            android:name="com.saggitt.omega.gestures.OmegaShortcutActivity"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/omega_actions"
            android:theme="@style/SettingsTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.saggitt.omega.gestures.ui.RunHandlerActivity"
            android:exported="false"
            android:taskAffinity="${applicationId}.tasks.RUN_HANDLER"
            android:theme="@style/SettingsTheme.Light.Transparent">
            <intent-filter>
                <action android:name="com.saggitt.omega.START_ACTION" />
                <action android:name="android.intent.action.ASSIST" />
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.saggitt.omega.FakeLauncher"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.saggitt.omega.OmegaAccessibilityService"
            android:exported="true"
            android:label="@string/derived_app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <service
            android:name="com.android.launcher3.uioverrides.WallpaperManagerCompat$ColorExtractionService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":wallpaper_chooser" />

        <receiver
            android:name="com.saggitt.omega.widget.ClockWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget_info" />
        </receiver>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.samsung.android.non_immersive"
            android:value="true" />
    </application>

</manifest>