<?xml version="1.0" encoding="utf-8"?><!--
  ~  This file is part of Omega Launcher
  ~  Copyright (c) 2021   Saul Henriquez
  ~
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as
  ~  published by the Free Software Foundation, either version 3 of the
  ~  License, or (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:name="com.saggitt.omega.OmegaApp"
        android:backupAgent="com.android.launcher3.LauncherBackupAgent"
        android:fullBackupContent="@xml/backupscheme"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:label="@string/derived_app_name"
        android:largeHeap="@bool/config_largeHeap"
        android:restoreAnyVersion="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="${appIcon}"
        android:roundIcon="${appIconRound}"
        tools:replace="android:label">

        <activity
            android:name="com.android.launcher3.Launcher"
            tools:node="remove" />

        <!--
        Main launcher activity. When extending only change the name, and keep all the
        attributes and intent filters the same
        -->
        <activity
            android:name="com.saggitt.omega.OmegaLauncher"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize"
            android:enabled="true"
            android:label="@string/derived_app_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:resumeWhilePausing="true"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
            <meta-data
                android:name="com.android.launcher3.grid.control"
                android:value="${packageName}.grid_control" />
        </activity>

        <activity
            android:name="com.android.launcher3.settings.SettingsActivity"
            tools:node="remove" />

        <activity
            android:name="com.saggitt.omega.settings.SettingsActivity"
            android:label="@string/settings_button_text"
            android:theme="@style/SettingsTheme.Light"
            android:exported="true"
            android:autoRemoveFromRecents="true">
            <intent-filter android:priority="-1">
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saggitt.omega.preferences.views.PreferencesActivity"
            android:label="@string/settings_button_text"
            android:theme="@style/SettingsTheme.Dark"
            android:exported="true"
            android:autoRemoveFromRecents="true">
            <intent-filter android:priority="-1">
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saggitt.omega.settings.search.SettingsSearchActivity"
            android:autoRemoveFromRecents="true"
            android:parentActivityName="com.saggitt.omega.settings.SettingsActivity"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="com.saggitt.omega.BlankActivity"
            android:theme="@style/Theme.Transparent" />

        <service
            android:name="com.saggitt.omega.OmegaAccessibilityService"
            android:label="@string/derived_app_name"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <service
            android:name="com.android.launcher3.uioverrides.WallpaperManagerCompat$ColorExtractionService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":wallpaper_chooser" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.samsung.android.non_immersive"
            android:value="true" />

    </application>
</manifest>