/*
!/.gitignore
!/build.gradle.kts
!/settings.gradle.kts
!/CHANGELOG.md
!/COPYING
!/DEVDOC.md
!/extra
!/gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/metadata
!/schemas
!/proguard.pro
!/README.md
!/neo_banner.png
!/src
!/config
