html,body{color:#fafafa;background:#323232;}a:link {color: #ff7d00;}a:visited {color: #ffca7d;}


.license .name{
    font-weight:bold;
    color:#1e1e1e;
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.license .developer{
    margin-top: 1px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #4f4f4f;
}
.license .source{
    margin-top: 1px;
    color: #4f4f4f;
}

.topButton {
    box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color:#2dabf9;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}

.topButton:link {color: #ffffff;}
.topButton:visited {color: #ffffff;}

.topButton:hover {
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color:#0688fa;
}
.topButton:active {
    position:relative;
    top:1px;
}